$redes: (
    facebook: #3b5998,
    instagram: #3f729b,
    twiter: #00acee,
);
$color: #FFFF00;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    //background-image: url(../imagenes//21omxpw.jpg);//    
    background: rgb(36, 33, 0);
    background: linear-gradient(180deg, rgba(36, 33, 0, 1) 5%, rgba(212, 177, 37, 1) 100%, rgba(0, 212, 255, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.banner {
    height: 45vh;
    width: 100%;
    align-items: center;

}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

nav {
    margin: 10px;
}

ul {
    li {
        font-size: large;
        list-style: none;
        display: inline;
        justify-content: center;
        margin: 10px 70px;
    }

    a {
        color: #1a1502;
    }
}


.nuestras {
    h2 {
        text-align: center;
        margin: 40px;
    }
}

.area {
    width: 350px;
    height: 250px;
    margin: 0 30px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}


.imag {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url("../font/Quicksand-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Mukta";
    src: url("../font/Mukta-Light.ttf");
    font-weight: 300;
}




.fdp {
    p {

        font-family: "Quicksand";
        font-weight: 500;
        color: blue;
        margin: 30px;
    }
}

.fdp {
    h1 {
        text-align: center;
        color: #F1C40F;
        font-family: "Quicksand";
        font-weight: 600;
        margin: 30px;
    }
}


.tutor {
    height: 45vh;
    width: 45vw;
    margin-right: 30px;
}

.tutorial {
    display: flex;
    justify-content: last baseline;
    margin: 5px 30px;
}

.delivery {
    width: 450px;
    height: 320px;
    margin: 0 30px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}




.pie-pagina {
    background-color: rgb(124, 151, 151);
    margin: 60px;

    ul {
        li {
            font-size: large;
            list-style: none;
            display: inline;
            margin: 60px;
        }
    }
}

.reservado {
    font-family: "Mukta";
    font-weight: 300;
    color: aliceblue;
    margin: 5px;
    text-align: center;
}

@each $redes,
$color in $redes {
    .btn-#{$redes} {
        background-color: $color;

    }
}

$estilos: (
    back: #FFFFFF,
    alineacion:center,
    fontsize: 15px,
    espace: 1rem,
);


.red {
    .btn-face {
        width: 45px;
        height: 45px;

    }
}

.red {
    .btn-insta {
        width: 45px;
        height: 45px;

    }
}

.red {
    .btn-twiter {
        width: 45px;
        height: 45px;

    }
}

.red {
    p {
        background-color: map-get($estilos, back);
        text-align: map-get($estilos, alineacion);
        padding: map-get($estilos, espace);
        font-size: map-get($estilos, fonsize);
    }
}